:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 300;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: red
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding-left: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff7b64;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F3F4F6;
  color: #111827;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

button[type="submit"] {
  width: 200px;
  height: 40px;
  padding: 0.2rem 1rem;
  margin-top: 1rem;
  background-color: #3490dc;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 98vh;
  min-width: 98vw;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* Forms */
form {
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  max-width: 600px;
  margin: 1.5rem auto;

  padding: 1.5rem; /* Add some padding to create the card effect */
  border: 1px solid #ccc; /* Add a border to make it recognizable */
  border-radius: 0.5rem; /* Rounded corners for the card */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the card */  
}

form span {
  position: absolute;
  top: 0;
  /* left: 0;
  padding-top: 10px; */
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
}

input[type="text"] {
  width: 100%;
  height: 35px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  margin-left: -0.1rem;
}

input[type="checkbox"] {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  margin-left: 0.2rem;
  display: block;
  transform: scale(1.5)
}

label {
  display: block;
  text-align: left;
  margin: 2rem;
  height: 35px;
}

button[type="submit"] {
  width: 200px;
  height: 40px;
  padding: 0.2rem 1rem;
  margin-top: 1rem;
  background-color: #3490dc;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

button[type="submit1"] {
  width: 100px;
  height: 40px;
  padding: 0.2rem 1rem;
  margin-top: 1rem;
  background-color: lightcoral;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #2779bd;
}

button[type="submit1"]:hover {
  background-color: darkred;
}

.card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
}

.routes {
  margin: 0 auto;
}

.taskCard{
  border: 2px solid grey;
  box-shadow: 0px 2px 3px grey;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: .5rem;
}

.homePage,
.aboutPage,
.notfoundpage {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.notfoundpage img {
  width: 100%;
  height: 100%;
}

.dev-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Navbar {
  background-color: #072370; 
  color: #ffffff; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 50;
}

.info-nav{
  display: flex; 
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.button-nav{
  display: flex;
  align-items: center;
  margin-left: 0.5rem; 
  width: 25%; 
  font-size: 1.125rem;
  padding-top: 0.25rem; 
  padding-bottom: 0.25rem;
}

.img-logo{
  height: 2rem; 
  width: auto; 
}

.button-img{
  display: flex;
  align-items: center; 
  text-align: left;
  padding: 1;
  cursor: pointer;
  height: 2.5rem; 
  width: auto; 
  border: 2px solid #ffffff; 
  border-radius: 1.5rem; 
  padding: 0.25rem; 
  font-size: 1rem; 
  padding-top: 0.25rem; 
  padding-bottom: 0.25rem; 
}

.text-nav{
  display: flex; 
  justify-content: center; 
  margin-right: 1rem; 
  width: 50%; 
}
.text-xl{
  text-align: center;
  font-size: 1.25rem;
}

.progress-bar {
  width: 100%;
  height: 30px; 
  border-radius: 10px; 
  background-color: #e6e6e6; 
  margin-bottom: 10px;  
}

.progress-bar-fill {
  height: 100%; 
  border-radius: 10px; 
  background-color: #2ecc71; 
  transition: width 0.5s ease-out; 
}

.progress-label {
  margin-top: 10px; 
  font-size: 24px; 
  font-weight: bold; 
  color: #444444; 
}

.sidebar {
  width: 20%;
  height: 100vh;
  font-size: 2rem;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  transition: 850ms;
  background-color: rgb(154, 181,240);
  
}

#sidebar-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

#sidebar-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 10px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.githubLogo {
  padding-top: 5px;
  height: 30px; 
  width: 30px;
}

.linkedinLogo {
  height: 20px; 
  width: 20px;
}

.img-logo-about {
  width: 25%;
  height: 25%; 
}

.Footer {
  background: #072370;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; 
  left: 0;
  bottom: 0;
  z-index: 50; 
}

.displaylist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
}

.displaytask {
  display: flex;
  flex-direction: column;
}

.taskbutton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pinlogo {
  width: 6%;
  height: 6%; 
}